{
  "BTC_15m": false,
  "BTC_1h": true,
  "ETH_4h": false,
  "ETH_1d": false,
  "ETH_1w": false,
  "SOL_5m": true,
  "SOL_15m": false,
  "BNBUSDT_1h": true,
  "BNBUSDT_4h": true,
  "BNBUSDT_1d": true,
  "BTCUSDT_1h": true,
  "BTCUSDT_4h": false,
  "BTCUSDT_1d": false,
  "ETHUSDT_1h": true,
  "ETHUSDT_4h": false,
  "ETHUSDT_1d": false,
  "SOLUSDT_1h": true,
  "SOLUSDT_4h": false,
  "SOLUSDT_1d": false,
  "HYPEUSDT_1h": false,
  "HYPEUSDT_4h": false,
  "HYPEUSDT_1d": true
}